{% url 'pages:contact' as contact_page_url %}
{% url 'pages:about' as about_page_url %}
{% url 'pages:connect' as connect_page_url %}


<div class='container-fluid mt-3 mb-2'>



	<div class='row justify-text-center mb-2'>
		<div class='col text-center'>
			<a href='#'>About</a>
			·
			<a href='#'>Contact</a>
			·
			<a href='#'>Connect</a>
			·
			<a href="#">Privacy Policy</a>

		</div>
	</div>


	<div class='row justify-text-center'>
		<div class='col text-center  '>
			© Copyright · irishcouriernetwork.com
		</div>
	</div>

</div>