{% load static %}
<!DOCTYPE html>
    <html lang="en">
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Irish Courier Network</title>
        {% include 'base/css.html' %}


        {% block base_head %}

        {% endblock %}

    </head>

    <body>

      <!-- This is so i cna chose to hide the nav bar - for example in the payment pages -->
      {% block navbar_wrapper %}
        {% if navbar != False %}
            {% block navbar %}
                {% include 'base/navbar.html' with brand_name='Irish Courier Network' %}
            {% endblock %}
        {% endif %}
      {% endblock navbar_wrapper %}
    

        
      
          {% block sidebar %}

          {% endblock %}








        {% if messages %}
          <div class="alert alert-success messages">
            {% for message in messages %}
              <span{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                  {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                  {{ message }}<br/>
              </span>
            {% endfor %}
          </div>
        {% endif %}







      		{% block content %}

      		{% endblock %}







          
          {% include 'base/footer.html' %}
         

          


          {% include 'base/js.html' %}








        {% block javascript %}


        {% endblock %}












        
    </body>
</html>


<style>






.button-colour {
  background-color: #28a745;
}

.white-text{
  color: #FFFFFF;
}
.btn:hover{
  color: #181238;
}


.dark-purple{
  background-color: #181238
}




/*nav bar*/
.nav-bar-color {
  background-color: #28a745 ;
}

.dark-purple-text{
  color: #181238;
}

.white-color {
  color: #FFFFFF;
} 


.blue-color{
  color:#2fc5ac;
}


</style>
