

 <div id="map"></div>








 <style>
       /* Set the size of the div element that contains the map */
      #map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
    </style>




<!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->

 <script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&callback=initMap">
    </script>





    <script>
	// Initialize and add the map
	function initMap() {
	  // The location of Uluru
	  // pick_up_location_lat


	  var pick_up_loc = {lat: {{object.pick_up_location_lat}}, lng: {{object.pick_up_location_lng}}};

	  var drop_off_loc = {lat: {{object.drop_off_location_lat}}, lng: {{object.drop_off_location_lng}}};


	  // var uluru = {lat: 54.0, lng: 6.0};
	 

	  // The map, centered at Uluru
	  var map = new google.maps.Map(
	      document.getElementById('map'));

	  // var map = new google.maps.Map(
	  //     document.getElementById('map'), {zoom: 6, center: pick_up_loc});


	  var bounds = new google.maps.LatLngBounds();
			bounds.extend(pick_up_loc);
			bounds.extend(drop_off_loc);
			map.fitBounds(bounds);


	  // The marker, positioned at Uluru
	  var marker = new google.maps.Marker({
	  								position: pick_up_loc,
	   								map: map,
	   								title: 'Pick Up',
									icon: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|FF0000'
	   								});


	  var infowindow = new google.maps.InfoWindow({
    	content: "<h6>Pick Up</h6>"
		});

	  google.maps.event.addListener(marker, 'mouseover', function() {
	  infowindow.open(map,marker);
		});




	  var marker2 = new google.maps.Marker({
	  								position: drop_off_loc, 
	  								map: map,
   									icon: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|0000FF'
	  								});

	  var infowindow2 = new google.maps.InfoWindow({
    	content: "<h6>Drop Off</h6>"
		});

	  google.maps.event.addListener(marker2, 'mouseover', function() {
	  infowindow2.open(map,marker2);
		});


	}


	





    </script>

    