<div class="card text-center">
  <div class="card-header alert-success">

    <div class='row'>

        <div class='col'>
            Client: {{ instance.client_name }}
        </div>


        <div class='col'>
            Load ID: {{ instance.load_id }}
        </div>

    </div>



   
  </div>

  <div class="card-body">
    
    <div class='row'>

      <div class="col-10 ">

        <!-- <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->

          <div class='row justify-content-between'>
                <div class='col-5 '>

                  <p>From: {{ instance.pick_up_location }}</p>
                  <p>To: {{ instance.drop_off_location }}</p>

                </div>


                <div class='col-5 '>

                  <p>Pickup: {{ instance.pick_up_time }}</p>
                  <p>Drop off: {{ instance.drop_off_time }}</p>


                </div>


                <div class='col '>

                <p>Van Type:</p>
                <p>{{ instance.vehicle_type }}</p>

              </div>


          </div>


         

              

         




      </div>


      <div class="col-5 col-lg-2  mx-auto">
          <a href="{{ instance.get_absolute_url }}" class="btn btn-success">View Details</a>
      </div>


  </div>




  </div>


  <div class="card-footer text-muted alert-success">

    <div class='row'>

        <div class='col'>
            Load Posted: {{ instance.timestamp }}
        </div>


        <div class='col'>
            Last Updated: {{ instance.updated}}
        </div>

    </div>

    
  </div>
</div>