






<script src='https://api.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.css' rel='stylesheet' />


<div id='mapbox' style='width: 100%; height: 400px;'></div>











<script>
mapboxgl.accessToken = '{{map_box_api_key}}';
var map = new mapboxgl.Map({
container: 'mapbox',
style: 'mapbox://styles/mapbox/streets-v11',
// zoom: 10,
// center: [4.899, 52.372]
});


// Add zoom and rotation controls to the map.
map.addControl(new mapboxgl.NavigationControl());



var marker1 = new mapboxgl.Marker({ "color": "#FF0000" })
  .setLngLat([{{object.pick_up_location_lng}}, {{object.pick_up_location_lat}}])
  .addTo(map);

// marker1.color = '#F00';

var marker2 = new mapboxgl.Marker({ "color": "#0000FF" })
  .setLngLat([{{object.drop_off_location_lng}}, {{object.drop_off_location_lat}}])
  .addTo(map);





// marker2.color = '#ff0000';







var bounds = [[{{object.pick_up_location_lng}}, {{object.pick_up_location_lat}}],[{{object.drop_off_location_lng}}, {{object.drop_off_location_lat}}]]
map.fitBounds(bounds, { padding: 50 });




</script>















