{% extends 'base.html' %}


{% block content %}
<div class='container-fluid'>


<br>

<h3>Load Information</h3>
<hr>

<p>Load ID: {{ object.load_id }}</p>


<div class='row'>


<div class='col-12 col-md-7'>



	<div class='col'>

	<div class='row pt-2 pb-2 pl-2 alert-success'>

	<b>Pick Up</b>

	</div>

		<br>

		<p>Address: {{ object.pick_up_location}}</p>

		<p>Coordinates: {{ object.pick_up_location_lat }}, {{ object.pick_up_location_lng }}</p>

		<p>Time: {{object.pick_up_time}}</p>


	</div>






	<div class='col'>

		<div class='row pt-2 pb-2 pl-2 alert-success'>

			<b>Drop Off</b>

		</div>

		<br>

		<p>Address: {{ object.drop_off_location }}</p>

		<p>Coordinates: {{ object.drop_off_location_lat }}, {{ object.drop_off_location_lng }}</p>

		<p>Time: {{object.drop_off_time}}</p>


	</div>





	<div class='col'>

		<div class='row pt-2 pb-2 pl-2 alert-success'>

			<b>Miscellaneous</b>

		</div>

		<br>

		<p>Van Type: {{object.vehicle_type}}</p>

		<p>Load 	Weight: {{ object.weight }} kg</p>

		<p>Load Posted: {{ object.timestamp }}</p>
       
		<p>Last Updated: {{ object.updated}}</p>

		<br>

		{% if object.notes %}

			<!-- <p>Notes:</p> -->
			<p>{{ object.notes }} </p>

		{% endif %}

	 

	</div>




</div>










	<div class='col-12 col-md-5 mx-auto'>

	   
	   {% include 'loads/snippets/map_box.html' with object=object map_box_api_key=map_box_api_key %}

 

	    
	 	  
		

	</div>





</div>





<div class='row'>


	<div class='col'>


		


	</div>




</div>


















</div>
{% endblock %}



    


{% block javascript %}


   






{% endblock %}

