{% extends 'base.html' %}


{% block content %}
	<div class='container'>

	<br>

	<h2>Loads</h2>
	<hr>



		<div class='col-12'>
			{% for obj in object_list %}
				

				<!-- {{ forloop.counter }} -->
					
					{% include 'loads/snippets/load_card.html' with instance=obj %}
					<br>
				
			{% endfor %}
		</div>


	</div>
{% endblock %}





