{% extends 'base.html' %}


{% block content %}

<!-- {% for address in address_list %}
    <p>{{ address }}</p>
{% endfor %} -->





<div class='container'>

<br>


<h3>Post a Load</h3>
<p>Please fill in the following information</p>

<hr>

<div class='row justify-content-center'>




			
			

			


			<!-- <div class='row'> -->

			<div class='col'>
			



				<form method='POST' action=''>{% csrf_token %}


				{{ form.non_field_errors }}

				
				<div class='row'>


						<div class='col-12 col-md-6 mt-3'>

							<div class="fieldWrapper">
							    {{ form.pick_up_location.errors }}
							    <label for="{{ form.pick_up_location.id_for_label }}">From: 
							    	<font color="red">*</font>
							    </label>
							    {{ form.pick_up_location}}
							</div>

						</div>



						<div class='col-12 col-md-6 mt-3'>

							<div class="fieldWrapper">
							    {{ form.drop_off_location.errors }}
							    <label for="{{ form.drop_off_location.id_for_label }}">To:
							    <font color="red">*</font>
								</label>
							    {{ form.drop_off_location}}
							</div>

						</div>

				</div>

				
				

				<div class='row'>


					<div class='col-12 col-md-6 mt-3'>
				
						<div class="fieldWrapper">
						    {{ form.pick_up_time.errors }}
						    <label for="{{ form.pick_up_time.id_for_label }}">Pick Up Time:
 								<font color="red">*</font>
						    </label>
						    {{ form.pick_up_time}}
						</div>

					</div>


					<div class='col-12 col-md-6 mt-3'>

						<div class="fieldWrapper">
						    {{ form.drop_off_time.errors }}
						    <label for="{{ form.drop_off_time.id_for_label }}">Drop Off Time:
						    	 <font color="red">*</font>
						    </label>
						    {{ form.drop_off_time}}
						</div>

					</div>

				</div>

				
				


				<div class='row'>

					<div class='col-12 col-md-6 mt-3'>

						<div class="fieldWrapper">
						    {{ form.vehicle_type.errors }}
						    <label for="{{ form.vehicle_type.id_for_label }}">Van Type:
						    	 <font color="red">*</font>
						    </label>
						    {{ form.vehicle_type}}
						</div>

					</div>


					<div class='col-12 col-md-6 mt-3'>

						<div class="fieldWrapper">
						    {{ form.weight.errors }}
						    <label for="{{ form.weight.id_for_label }}">Weight (kg):
						    	 <font color="red">*</font>
						    </label>
						    {{ form.weight}}
						</div>

					</div>

				</div>

				
				
			
				<div class="fieldWrapper mt-3">
				    {{ form.notes.errors }}
				    <label for="{{ form.notes.id_for_label }}">Notes:</label>
				    {{ form.notes}}
				</div>

				





				<input type='submit' class='btn btn-default btn-block btn-success mt-3' value='Post Load' />
				</form>

		<!-- </div> -->





		</div>
		
	</div>

</div>


<br>
<br>
<br>
<br>
<br>







{% endblock %}



 {% block javascript %}


        

<body>




<script type="text/javascript">
    $(function () {
        $('#pick_up_time_picker').datetimepicker({
            //inline: true,
            sideBySide: true,
            locale: moment.locale('en-ie'),
            //format: 'DD-MMM-YYYY HH:mm', //Set the format option with a valid moment format

            icons: {
              time: "fa fa-clock-o",
		      date: "fa fa-calendar",
		      up: "fa fa-caret-up",
		      down: "fa fa-caret-down",
		      previous: "fa fa-caret-left",
		      next: "fa fa-caret-right",
		      today: "fa fa-today",
		      clear: "fa fa-clear",
		      close: "fa fa-close"
		  }
            /*format: 'DD.MM.YYYY' remove this line if you want to use time as well */
        });
    });

</script>


<script type="text/javascript">
    $(function () {
        $('#drop_off_time_picker').datetimepicker({
            //inline: true,
            sideBySide: true,
            locale: moment.locale('en-ie'),
            //format: 'DD-MMM-YYYY HH:mm', //Set the format option with a valid moment format

            icons: {
              time: "fa fa-clock-o",
		      date: "fa fa-calendar",
		      up: "fa fa-caret-up",
		      down: "fa fa-caret-down",
		      previous: "fa fa-caret-left",
		      next: "fa fa-caret-right",
		      today: "fa fa-today",
		      clear: "fa fa-clear",
		      close: "fa fa-close"
		  }
            /*format: 'DD.MM.YYYY' remove this line if you want to use time as well */
        });
    });

</script>






<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
</script> -->


<!-- moment with locales js for the date time picker -->
<script type="text/javascript" src="https://momentjs.com/downloads/moment-with-locales.js"></script>




<!-- Bootstrap datatimepicker css -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">




<!-- bootstrap date time picker -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>


























<script>


	

var onLoaded = function() {
      
      initialize();

    }



function initialize() {

    var acInputs = document.getElementsByClassName("autocomplete");

    for (var i = 0; i < acInputs.length; i++) {

        var autocomplete = new google.maps.places.Autocomplete(acInputs[i]);
        autocomplete.inputId = acInputs[i].id;

        google.maps.event.addListener(autocomplete, 'place_changed', function () {
            document.getElementById("log").innerHTML = 'You used input with id ' + this.inputId;
        });
    }
}


</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&libraries=places&callback=onLoaded" async defer></script>





























</body>
{% endblock %}



