{% extends 'base.html' %}




{% block content %}

{% url 'account:login' as login %}
{% url 'pages:home' as home_page_url %}

<div class='container'>

<div class='row mt-5 justify-content-center'>
	<h1 class='mt-2'>Welcome!</h1>
</div>
<div class='row mt-2 mb-5 justify-content-center'>
	<h4 class='mt-2'>Please check your email to confirm your account.</h4>
</div>


<div class='row mt-5 mb-5	 justify-content-center'>
	<a href="{{ home_page_url }}" class=" btn btn-primary">Return to home</a>
</div>



{% endblock %}