{% extends 'base.html' %}



{% block content %}

{% url 'account:register' as register %}

<div class='container'>


	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'account/style.css' %}">		


	<h2 class='mt-2'>Log in</h2>

	<hr>





	<div class='row justify-content-center'>

		<div class='col-12 col-sm-8 col-md-6 mt-5'>


			<h1 class="h3 mb-3 font-weight-normal text-center ">Please log in</h1>

			


		

			<form method='POST'> {% csrf_token %}
				<!-- {{ form }} -->

				{{ form.non_field_errors }}

				<div class="fieldWrapper">
				    {{ form.email.errors }}
				    <!-- <label for="{{ form.username.id_for_label }}">Username:</label> -->
				    {{ form.email }}
				</div>

				<div class="fieldWrapper">
				    {{ form.password.errors }}
				    <!-- <label for="{{ form.password.id_for_label }}">Password:</label> -->
				    {{ form.password }}
				</div>

				<button type='submit' class='btn button-colour white-text btn-lg  btn-block mt-2'>Log in</button>


				<div class='col'>

					<div class='row justify-content-between '>

						<div class='mt-1 '>
							 <a href='{% url "password_reset" %}' >Forgot your password?</a>
						</div>

						<div class='mt-1 '>
							Need an account? <a href="{{register}}" >Register</a>
						</div>

					</div>

				</div>


			</form>

		</div>
	</div>

</div>
{% endblock %}